<h1>All Users</h1>
<p>Number of users: <%= @users.count %></p>
<ul>
  <% @users.each do |user| %>
    <li><%= user.first_name %> <%= user.last_name %></li>
  <% end %>
</ul>
<%= link_to "Back to homepage", root_path%>
