<%= javascript_importmap_tags %> <!-- Correctly include Importmap tags -->
<div id="song-list"></div> <!-- This is where the React component will be rendered -->
<script type="module">
  import React from 'react';
  import ReactDOM from 'react-dom/client';
  import SongList from '../components/SongList'; // Adjust the path if necessary

  const root = ReactDOM.createRoot(document.getElementById('song-list'));
  root.render(<SongList />);
</script>
