<!DOCTYPE html>
<html>
<head>
  <title>Music Playlist Manager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>

  <!-- Import Map: Load this first -->
  <script type="importmap" data-turbo-track="reload">
    {
  "imports": {
    "application": "/javascript/application.js",
    "react": "https://cdn.jsdelivr.net/npm/react@18/umd/react.production.min.js",
    "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@18/umd/react-dom.production.min.js",
    "fontawesome": "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  }
}
  </script>

  <!-- Module script: Import application after import map -->
  <script type="module" data-turbo-track="reload">
    import "application";
  </script>
</head>
<body>
  <h1>Songs</h1>
  <div id="react-songs-list"></div>
</body>
</html>
